h1{
    text-align:center;
}
#board{
    margin: 0px auto;
    display:flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}

.field{
    box-sizing: border-box;
    border: 2px solid skyblue;
    width: 100px;
    height: 100px;
    font-size: 80px;
    font-family: Tahoma;
    text-align: center;
    line-height: 80px;
}
